{% extends 'main/xx.html' %}

{% block title %}sexshop{% endblock %}

{% load static %}

<link rel="stylesheet" href="{% static  'css/auth.css' %}">

{% block sale %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h4 class="mt-3 mb-3">Профиль</h4>
                <div class="col-lg-12 text-center">
                    <img width="100" height="100"
                         src="{% static "img\avatar-is-hooded-indicated-by-question-mark-anonymous-unauthorized-user-isolated-vector_619989-1333.avif"%}"
                         class="img-thumbnail">
                </div>
                <form action="{% url "users:profile" %}" method="post", enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.first_name.id_for_label}}">Имя</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{form.last_name.id_for_label}}">Фамилия</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ form.image }}
                                <label class="custom-file-label" for="{{ form.image.id_for_label }}">Воно не працює, бюджету не вистачило</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{form.username.id_for_label}}">Имя пользователя</label>
                            {{ form.username }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{form.email.id_for_label}}">Адрес электронной
                                почты</label>
                            {{ form.email}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                            <a href="{%url 'users:exit'%}">Вийти</a>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</main>
{% endblock %}